html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}
/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
@media only screen and (max-width: 800px){
  .grid-container {
    grid-template-rows: 11rem 1fr 5rem;
}

}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .sahulat1{
    width: 40%;
    height: 30%;
    height: 150px;
    margin-right: 280px;
  }
}
@media screen and (max-width: 300px) {
  
  .sahulat1{
    width: 40%;
    height: 30%;
    height: 150px;
    margin-right: 280px;
  }
}

header{
  grid-area: header;
  background-color: #203040;
}
main {
  grid-area: main;
  padding: 1rem;
}

/* footer*/





/* Common */
a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}

/* Header */
header a {
  color: #ffffff;
  padding: 1rem;
}

a.brand {
  font-size: 3rem;
  font-weight: bold;
}

/* column */
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.min-30 {
  min-width: 30rem;
}

/* row*/
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.row.top {
  align-items: flex-start;
}

.brand {
  color: #ffa51d;
}

/*sidebar*/
.sidebar {
  position: fixed;
  transition: all 0.3s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #203040;
  color: white;
  height: 100%;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-close-button {
  border-radius: 50%;
  border: 0.1rem #000000 solid;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  padding-top: 3px;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 1.8rem;
}
.sidebar a:visited {
  color: #e7e7f3;
}
.sidebar a:hover {
  color: #ff8000;
}
.sidebar button:hover {
  color: #ff8000;
}
.sidebar a {
  margin-left: 10px;
  color: #e7e7f3;
}
.sidebar h2 {
  font-size: 20px;
}
.sidebar li {
  font-size: 17px;
  font-weight: 530;
}
.sidebar button {
  margin-top: 3px;
}
.fa.fa-shopping-cart {
  color: #ff8000;
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}

/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}

.price {
  font-size: 2rem;
}

/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}

.rating span:last-child {
  color: #404040;
}

/* open header button */
.open-button {
  background-color: #203040;
  color: white;
}
.open-button:hover {
  color: #f0c040;
}
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  cursor: pointer;
}
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  background-color: #f0c040;
}
button.block {
  width: 100%;
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.large {
  width: 100%;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  /*max-width: 29rem;*/
  width: 100%;
  height: 20vw;
  object-fit: cover;
}
/* Card */

/* Alert */
.success {
  color: green;
}
.alert-success{
  color: green;
}
.error {
  color: #a02020;
}

.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}

input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
button.small {
  font-size: 1.2rem;
}
.back {
  color: blue;
}
.card-body a:visited {
  color: blue;
}

.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

/* Form */
.form {
  max-width: 50rem;
  margin: 0 auto;
  border-radius: 5px;
  border: 1.5px solid #ccc; /* Gray border */
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
  display: block;
}
.signh1 {
  font-size: 26px;
}
.newcust:visited {
  color: blue;
}
/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.sahulatimg1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  margin-top: -42px;
  margin-bottom: -33px;
  height: 150px;
}

.loading {
  display: block !important;
}

/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}

.sahulat{
  max-width: 8rem;
  max-height: 10rem;
  width: 100%;
  margin-left: 600px;
}
.sahulat1{
  width: 33%;
  height: 100px;
  margin-left: 155px;
}